absl-py==0.10.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs
backcall
backports.functools-lru-cache==1.6.1
beautifulsoup4
bleach
boto==2.49.0
boto3
botocore
branca
brotlipy==0.7.0
bz2file==0.98
cachetools
certifi==2020.6.20
click==7.1.2
cmdstanpy==0.9.5
colorama==0.4.3
convertdate
cryptography
cvxpy
cycler==0.10.0
Cython
decorator==4.4.2
defusedxml==0.6.0
docutils
ecos
gast==0.3.3
gensim
h5py==2.10.0
httplib2==0.20.2
imbalanced-learn
jdcal==1.4.1
Jinja2==2.11.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
lesscpy==0.14.0
LunarCalendar==0.0.9
Markdown==3.3.2
MarkupSafe
matplotlib
mkl-fft==1.2.0
mkl-random==1.1.0
mkl-service==2.3.0
nltk
numpy==1.21.2
opt-einsum==3.3.0
orc==0.1.0
osqp==0.6.1
pandas
pandasql==0.7.3
pandocfilters==1.4.2
parso==0.7.0
patsy==0.5.2
pickleshare
plotly
ply==3.11
protobuf==3.19.1
ptyprocess==0.6.0
pyarrow==0.15.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pybind11==2.5.0
pyodbc==4.0.32
pyOpenSSL==19.1.0
pyparsing==2.4.7
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
PyYAML==5.3.1
pyzmq==19.0.2
QtPy==1.9.0
regex
scikit-learn 
scikit-surprise==1.1.1
Send2Trash==1.5.0
setuptools-git==1.2
simplegeneric==0.8.1
sip==4.19.13
statsmodels==0.13.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
testpath==0.4.4
uritemplate==4.1.1
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wordcloud==1.8.1
wrapt==1.12.1

xgboost==1.2.1

